body {
  background-color: darkgrey;
}
 .con {
  margin: 30px auto 30px auto;
  overflow: hidden;
} 

.line {
  border-left: 5px solid #ccc;
  padding-left: 10px; 
}
.line:after{
  content: '';
  position: absolute;
  width: 69%;
  border-top: 2px solid #4e4e4e;   
  margin-top: .6em;
  margin-left: .4em;
}

.butt {
  background-color: #fff;
  height: 130px;
  padding: auto 0px auto 0px;
}
.tab {
  background-color: #fff;
  margin-top: 40px;
}

.add {
  background-color: #fff;
  height: 500px;
  border: 2px solid darkseagreen;
  padding: 10px;
}

.col {
  padding-top: 25px;
}